*, ::before, ::after{
	box-sizing: border-box;
}
body,
html {
  margin: 0;
  font-family: $texte;
}
h1,
h2,
h3, h4, h5, h6, p {
  margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
li,
ul {
  list-style: none;
}
header {
	padding: 1rem;
	box-shadow: $shadow;
	position: relative;
	z-index: 1000;
	h1 {
		@extend %head-font;
		text-align: center;
	}
}
.btn {
	@extend %btn-cta;
}
footer {
	background-color: $color-dark-grey;
	@include flexMid($align-i:flex-start);
	padding: 22px 25px;
	margin: auto;
	position: relative;
	color: white;
	.footer__logo {
		@extend %head-font;
		margin: 0;
		font-size: 18px;
	}
}
.footer__list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
    gap: 15px;
	i {
		width: 1.2rem;
		margin-right: 0.5rem;
	}
}
// .footer__listElt {
// 	//margin: 0.5rem 0;

// 	&:first-child {
// 		//margin-top: 0;
// 	}

// 	&:last-child {
// 		margin-bottom: 0;
// 	}
// }
.footer__link {
	color: white;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
