.location {
	@include flexMid($flex-dir: row);
	padding: 1.25rem 1rem;
	background: $color-light-grey;
	font-size: 1.2rem;
	position: relative;
	color: $color-dark-grey;
	h3 {
		font-weight: 500;
	}
}
.hero {
	padding: 2rem;
	text-align: center;
	background-color: $color-neutre-bg;
	@include flexMid($gap: 2rem);
	span {
		font-weight: 300;
		font-size: 18px;
	}
}
.steps {
	margin: 2rem 1.25rem;
	h2 {
		padding-bottom: 1rem;
	}
	i {
		color: #7e7e7e;
	}
}
.step-by-step {
	counter-reset: li; /* Initiate a counter */
	margin: 0;
	padding: 0;
	li {
		max-width: max-content;
		min-width: 240px;
		@include flexMid($flex-dir: row, $justify-cont: flex-start);
		position: relative;
		margin: 0 0 16px 20px;
		padding: 1.3rem 0.7rem;
		border-radius: $border-radius;
		background: #f6f6f6;
		box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
		&:before {
			content: counter(li); /* Use the counter as content */
			counter-increment: li; /* Increment the counter by 1 */
			background: $color-primary;
			height: 1.5rem;
			width: 1.5rem;
			border-radius: $border-radius;
			@extend %flexMid;
			color: white;
			position: absolute;
			left: -1.3rem;
			font-size: 14.182px;
		}
	}
}

#restaurants {
	padding: 2rem 1rem;
	background-color: $color-neutre-bg;
	@include flexMid($align-i: stretch);
}
.cards_restaurants {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	column-gap: 2rem;
	row-gap: 2rem;
}
.single_card {
	border-radius: $border-radius;
	overflow: overlay;
	background-color: white;
	position: relative;
	display: block;
	img {
		height: 12rem;
		width: 100%;
		object-fit: cover;
	}
	.new {
		background-color: $color-tertiary;
		color: darken($color-tertiary, 50%);
		padding: 0.5rem;
		border-radius: 2px;
		position: absolute;
		top: 1rem;
		right: 0.75rem;
	}

	&__footer {
		padding: 1rem;
		position: relative;
		@include flexMid($flex-dir: row);
	}

	&__content {
		flex: 1;
	}

	h3 {
		margin-bottom: 0.25rem;
	}
	span {
		font-weight: lighter;
	}
}

.card__btn {
	width: 2rem;
	i {
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
	}
}
.fa-heart.fas {
	color: transparent;
	background-image: $gradient;
	background-clip: text;
	-webkit-background-clip: text;
	opacity: 0;
	transition: all 200ms;
	&:hover {
		opacity: 1;
		@include transform(translateY(-50%) scale(1.05));
	}
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Small devices (phones, more than 600px) */
@media (min-width: 600px) {
	.cards_restaurants {
		grid-template-columns: repeat(2, 1fr);
	}
	.step-by-step {
		display: flex;
		column-gap: 40px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
/* Medium devices (tablets, more/equal than 1024px) */
@media (min-width: 1024px) {
	.step-by-step {
			justify-content: flex-start;
		li {
			flex-basis: 100%;
			//max-width: none;
		}
	}
	footer {
		padding-left: 0;
		align-items: flex-end;
		flex-direction: row-reverse;
		justify-content: flex-start;
		gap: 50px;
		> * {
			max-width: 1440px;
		}
		.footer__list {
			padding: 0;
			margin: 0;
			gap: 20px;
			justify-content: flex-end;
			flex-direction: row;
		}
	}
}

/* Medium devices (landscape tablets, 1440px and up) */
@media (min-width: 1440px) {
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.steps {
		margin: 0;
		padding: 50px 180px;
		width: 100%;
		max-width: 1440px;
		align-self: center;
	}
	#restaurants {
		padding: 2rem 0;
		> * {
			padding: 0 180px;
			width: 100%;
			max-width: 1440px;
			align-self: center;
		}
	}
	footer {
		padding: 40px 180px;}

	
}

