@mixin transform($transform) {
  -ms-transform: $transform;
  -webkit-transform: $transform;
  -o-transform: $transform;
  -moz-transform: $transform;
  transform: $transform;
} //.btn {
//    @include transform(rotate(10deg));
//}
@mixin flexMid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
} //@include flexMid;
@mixin head-font{
	font-family: "Shrikhand", cursive, sans-serif;
	font-weight:100;
}//@include head-font;
@mixin btn-cta{
	width: 13rem;
    text-align: center;
    padding: 1rem;
	border-radius: $border-radius;
	color: #fff;
	background-image: $gradient;
	box-shadow: $shadow;
	transition: all 0.25s;
	&:hover {
		opacity: 0.9;
	}
}//@include btn-cta;