@mixin transform($transform) {
  -ms-transform: $transform;
  -webkit-transform: $transform;
  -o-transform: $transform;
  -moz-transform: $transform;
  transform: $transform;
} //.btn {
//    @include transform(rotate(10deg));
//}
@mixin flexMid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
} //@include flexMid;
@mixin head-font{
	font-family: "Shrikhand", cursive, sans-serif;
	font-weight:100;
}//@include head-font;