@mixin transform($transform) {
  -ms-transform: $transform;
  -webkit-transform: $transform;
  -o-transform: $transform;
  -moz-transform: $transform;
  transform: $transform;
} 
@mixin absolute-el ($top, $right, $botton, $left, $x, $y) {	
position: absolute;
top: $top;
right: $right;
bottom: $botton;
left: $left;
transform: translate($x,$y);
}
@mixin psseudo-el($display:block, $pos:absolute, $content:''){
content: $content;
display: $display;
position: $pos;
}

@mixin flexMid (
	$display-fle:flex, 
	$justify-cont:center,
	$align-i:center,
	$flex-dir:column,
	$gap:15px){ 
		display: $display-fle;
		justify-content: $justify-center;
		align-items: $align-i;
		flex-direction: $flex-dir;
		gap:$gap;
  }//@include flexMid($flex-dir:row);
  //@include flexMid($gap:2rem);
  //@include flexMid($flex-dir:row, $justify-cont:flex-start);
//@include flexMid($align-i:stretch);
//@include flexMid($align-i:flex-start);