@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
body,
html {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li,
ul {
  list-style: none;
}

header {
  padding: 1rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}
header h1 {
  font-family: "Shrikhand", cursive, sans-serif;
  text-align: center;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  flex-direction: row;
  padding: 1.25rem 1rem;
  background: #eaeaea;
  font-size: 1.2rem;
  position: relative;
  color: #353535;
}
.location h3 {
  font-weight: 700;
}

.hero {
  padding: 2rem;
  text-align: center;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  gap: 2rem;
}
.hero span {
  font-weight: 300;
  margin: 1.5rem 0;
  color: #353535;
  text-align: center;
  font-size: 18px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 1.5625rem;
  color: #fff;
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.25s;
}
.btn:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 0.9;
}

.steps {
  margin: 2rem;
}
.steps h2 {
  padding-bottom: 1rem;
}
.steps ol {
  counter-reset: li; /* Initiate a counter */
  margin: 0;
  padding: 0;
}
.steps ol li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
  margin: 0 0 16px 2em;
  padding: 1.3rem 1rem;
  border-radius: 1.5625rem;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.steps ol li:before {
  content: counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1.5625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  color: white;
  position: absolute;
  left: -20px;
  font-size: 14.182px;
}

.step__icon {
  color: #7e7e7e;
}

#restaurants {
  padding: 2rem 1rem;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.card {
  border-radius: 1.5625rem;
  overflow: overlay;
  background-color: white;
  position: relative;
  display: block;
}
.card__img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}
.card__badge {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 2px;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  flex-direction: row;
}
.card__content {
  flex: 1;
}
.card__title {
  margin-bottom: 0.25rem;
}

.card__btn {
  width: 2rem;
}
.card__btn i {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu__like--bg {
  color: transparent;
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
}
.menu__like--bg:hover {
  opacity: 1;
  -ms-transform: translateY(-50%) scale(1.05);
  -webkit-transform: translateY(-50%) scale(1.05);
  -o-transform: translateY(-50%) scale(1.05);
  -moz-transform: translateY(-50%) scale(1.05);
  transform: translateY(-50%) scale(1.05);
}

footer {
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 22px 25px;
  max-width: 1280px;
  margin: auto;
  position: relative;
  color: white;
  align-items: flex-start;
}

.footer__logo {
  font-family: "Shrikhand", cursive, sans-serif;
  margin: 0;
  font-size: 18px;
}

.footer__list {
  padding: 0;
  margin: 0;
}

.footer__listElt {
  margin: 0.5rem 0;
}
.footer__listElt:first-child {
  margin-top: 0;
}
.footer__listElt:last-child {
  margin-bottom: 0;
}

.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}

.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}/*# sourceMappingURL=main.css.map */